<h1>Productos</h1>

<div id="containerProducts"></div>

<div id="containerForm">
    <form id="form">
        <input id="inputTitle" type="text" placeholder="Titulo" required>
        <input id="inputDescription" type="text" placeholder="Descripcion" required>
        <input id="inputPrice" type="number" placeholder="Precio" required>
        <input id="inputThumbnail" type="text" placeholder="Link foto" required>
        <input id="inputCode" type="text" placeholder="Codigo" required>
        <input id="inputStock" type="number" placeholder="Stock" required>
        <button id="addButton" type="submit">Agregar</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js" type="text/javascript"></script>
